<div class="container">
  <div @fly-in-out
       [@changeBackground]="isDefaultColor? 'default' : 'red'" 
       class="card" 
       *ngFor="let emoji of emojis"
       (@fly-in-out.start)="onAnimationEvent($event)"
       (@fly-in-out.done)="onAnimationEvent($event)"
  >
   <p>{{emoji.value}}</p> 
   <p>{{emoji.name}}</p> 
  </div>
  <button (click)="toggleColor()">Change color</button>
  <button (click)="add()">Add</button>
  <button (click)="delete()">Delete</button>
</div>

 
<div class="container">
  <div [@fly-in-out]="emojis.length" [@changeBackground]="isDefaultColor? 'default' : 'red'" class="card" *ngFor="let emoji of emojis">
   <p>{{emoji.value}}</p> 
   <p>{{emoji.name}}</p> 
  </div>
  <button (click)="toggleColor()">Change color</button>
  <button (click)="add()">Add</button>
  <button (click)="delete()">Delete</button>
</div>